stepfunction/benzoin-verify.json
{
   "Comment":"Benzoin",
   "StartAt":"InitializeSnapshot",
   "States":{
      "InitializeSnapshot":{
         "Type":"Task",
         "Resource":"arn:aws:lambda:us-east-1:201973737062:function:Benzoin-initialize_snapshot_tags",
         "Retry":[
            {
               "ErrorEquals":[
                  "Lambda.Unknown"
               ],
               "IntervalSeconds":1,
               "MaxAttempts":15
            },
            {
               "ErrorEquals":[
                  "NotReady"
               ],
               "IntervalSeconds":60,
               "MaxAttempts":12,
               "BackoffRate": 1.5
            },
            {
               "ErrorEquals":[
                  "States.ALL"
               ],
               "MaxAttempts":0
            }
         ],
         "Catch":[
            {
               "ErrorEquals":[
                  "States.ALL"
               ],
               "ResultPath":"$.errors.initialize_snapshot_tags",
               "Next":"CatchError"
            }
         ],
        "Next":"CreateValidationNode"
      },
      "CreateValidationNode":{
         "Type":"Task",
         "Resource":"arn:aws:lambda:us-east-1:201973737062:function:Benzoin-create_validation_instance",
         "Retry":[
            {
               "ErrorEquals":[
                  "Lambda.Unknown"
               ],
               "IntervalSeconds":1,
               "MaxAttempts":15
            },
            {
               "ErrorEquals":[
                  "NotReady"
               ],
               "IntervalSeconds":300,
               "MaxAttempts":10,
               "BackoffRate": 1.5
            },
            {
               "ErrorEquals":[
                  "States.ALL"
               ],
               "MaxAttempts":0
            }
         ],
         "Catch":[
            {
               "ErrorEquals":[
                  "States.ALL"
               ],
               "ResultPath":"$.errors.create_validation_instance",
               "Next":"CatchError"
            }
         ],
        "Next": "WaitForSnapshotValidation"
      },
      "WaitForSnapshotValidation":{
         "Type":"Task",
         "Resource":"arn:aws:lambda:us-east-1:201973737062:function:Benzoin-wait_for_snapshot_validation",
         "Retry":[
            {
               "ErrorEquals":[
                  "Lambda.Unknown"
               ],
               "IntervalSeconds":1,
               "MaxAttempts":15
            },
            {
               "ErrorEquals":[
                  "NotReady"
               ],
               "IntervalSeconds":120,
               "MaxAttempts":10,
               "BackoffRate": 2.0
            },
            {
               "ErrorEquals":[
                  "States.ALL"
               ],
               "MaxAttempts":0
            }
         ],
         "Catch":[
            {
               "ErrorEquals":[
                  "States.ALL"
               ],
               "ResultPath":"$.errors.wait_for_snapshot_validation",
               "Next":"CatchError"
            }
         ],
        "Next": "ApplyRetention"
      },
      "ApplyRetention":{
         "Type":"Task",
         "Resource":"arn:aws:lambda:us-east-1:201973737062:function:Benzoin-apply_retention_policy",
         "Retry":[
            {
               "ErrorEquals":[
                  "Lambda.Unknown"
               ],
               "IntervalSeconds":1,
               "MaxAttempts":15
            },
            {
               "ErrorEquals":[
                  "States.ALL"
               ],
               "MaxAttempts":0
            }
         ],
         "Catch":[
            {
               "ErrorEquals":[
                  "States.ALL"
               ],
               "ResultPath":"$.errors.apply_retention_policy",
               "Next":"CatchError"
            }
         ],
        "Next": "Success"
      },
      "Success":{
         "Type":"Task",
         "Resource":"arn:aws:lambda:us-east-1:201973737062:function:Benzoin-success",
         "Retry":[
            {
               "ErrorEquals":[
                  "Lambda.Unknown"
               ],
               "IntervalSeconds":1,
               "MaxAttempts":15
            },
            {
               "ErrorEquals":[
                  "States.ALL"
               ],
               "MaxAttempts":0
            }
         ],
         "Catch":[
            {
               "ErrorEquals":[
                  "States.ALL"
               ],
               "ResultPath":"$.errors.success",
               "Next":"CatchError"
            }
         ],
        "Next": "Wait1hr"
      },
      "Wait1hr":{
          "Type":"Wait",
          "Seconds": 4000,
          "Next": "TerminateInstance"
      },
      "TerminateInstance":{
         "Type":"Task",
         "Resource":"arn:aws:lambda:us-east-1:201973737062:function:Benzoin-terminate_instances",
         "Retry":[
            {
               "ErrorEquals":[
                  "Lambda.Unknown"
               ],
               "IntervalSeconds":1,
               "MaxAttempts":15
            },
            {
               "ErrorEquals":[
                  "States.ALL"
               ],
               "MaxAttempts":0
            }
         ],
         "Catch":[
            {
               "ErrorEquals":[
                  "States.ALL"
               ],
               "ResultPath":"$.errors.terminate_instances",
               "Next":"CatchError"
            }
         ],
        "End": true
      },
      "CatchError":{
         "Type":"Task",
         "Resource":"arn:aws:lambda:us-east-1:201973737062:function:Benzoin-error_handler",
         "Next":"FailState",
         "Retry":[
            {
               "ErrorEquals":[
                  "States.ALL"
               ],
               "IntervalSeconds":5,
               "MaxAttempts":10
            }
         ]
      },
      "FailState":{
          "Type":"Fail",
          "Error":"GeneralError",
          "Cause":"General backup validation error."
      }
   }
}